html,
body {
	font-family: 'Roboto';
	box-sizing: border-box;
	margin: 0;
}

.site-cover {
	background-image: url("../src/images/sitebackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (min-width: '320px') and (max-width: '767px') {
	#nameText {
		font-size: 24px !important;
		padding: 0 40px;
	}
}

@media only screen and (min-width: '768px') and (max-width: '1024px') {
	#nameText {
		font-size: 40px;
	}
}
